 <div class="col-md-12">
   <ol>
    <% @survey.questions.each do |question| %>
      <li class="lead top-margin-15"><%= question.text %></li>
        <% question.answers.each do |answer| %>
        <!-- add logic to get current user id -->
        <form  class="question_answers" action="/surveys/<%=@survey.id%>" method="post">
          <div>
            <div class="input-group top-margin-5" role="form">
              <span class="input-group-addon">
                <input type="radio" name="answer_id_<%=question.id%>" value="<%=answer.id%>">
              </span>
              <span class="form-control" aria-label="..."><%= answer.text %></span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
      <% end %>
    <% end %>
      <input id="forms_submit_button " class="top-margin-15" type="submit" value="Submit Answers">
    </form>
  </ol>
</div>


